Value nhp (\d+)
Value opcode (\S+te|\S+ve)
Value rc (\S+_\S+_\S+|\S+_\S+_\S+_\S+)

Start
  ^\s*\d+\S+\s+"neigh"\s*$$
  ^\s*\d+\S+\s+"${nhp}"\s*$$
  ^\s*\d+\S+\s+"rc"\s*$$
  ^\s*\d+\S+\s+"${rc}"\s*$$
  ^\s*\d+\S+\s+"operation"\s*$$
  ^\s*\d+\S+\s+"${opcode}"\s*$$ -> Record