Value Key INTERFACE (\w+\s*[\d/.]+)
Value LAST_QUERY_INTERVAL (\d+)
Value QUERY_INTERVAL (\d+)
Value LAST_QUERY_COUNT (\d+)
Value QUERY_MAX_RESPONSE (\d+)
Value SOURCE ([\d\.]+)
Value GROUP ([\d\.]+)
Value VERSION (\d+)

Start
  # Parse global configuration until the start of interface
  # configuration.
  # If a line starts with 'interface' go to IfconfigScan section
  ^interface ${INTERFACE} -> IfconfigScan
   # Put capture strings for global configuration items here.

IfconfigScan
  # Interface section rows starts with a space in front. Avoid recording unless
  # configuration is found for an entry type that needs to be stored. In that
  # case, transition to "IfconfigStore" state.
  ^\s*ip igmp last-member-query-count ${LAST_QUERY_COUNT} -> IfconfigStore
  ^\s*ip igmp last-member-query-interval ${LAST_QUERY_INTERVAL} -> IfconfigStore
  ^\s*ip igmp query-interval ${QUERY_INTERVAL} -> IfconfigStore
  ^\s*ip igmp join ${GROUP} ${SOURCE} -> IfconfigStore
  ^\s*ip igmp version ${VERSION} -> IfconfigStore
  ^\s*ip igmp query-max-response-time ${QUERY_MAX_RESPONSE} -> IfconfigStore 
  # A line beginning with '!' marks the end of configuration for this interface:
  # There is no IGMP configuratio for this interface, so
  # go back to 'Start' state without recording.

IfconfigStore
  ^\s*ip igmp last-member-query-count ${LAST_QUERY_COUNT}
  ^\s*ip igmp last-member-query-interval ${LAST_QUERY_INTERVAL}
  ^\s*ip igmp query-interval ${QUERY_INTERVAL}
  ^\s*ip igmp join ${GROUP} ${SOURCE}
  ^\s*ip igmp version ${VERSION}
  ^\s*ip igmp query-max-response-time ${QUERY_MAX_RESPONSE} -> Record Start
  # A line beginning with '!' marks the end of configuration for this interface:
  # Record any captured IGMP configuration for the interface and go back to 'Start'
  # state.

EOF
