Value mc10 (\d+)
Value mc11 (\d+)
Value mc12 (\d+)
Value mc13 (\d+)
Value mc14 (\d+)
Value mc15 (\d+)
Value mc16 (\d+)
Value mc17 (\d+)
Value mc18 (\d+)
Value mc19 (\d+)


Start
  ^\s*MC10\s+MC11\s+MC12\s+MC13\s+MC14\s+MC15\s+MC16\s+MC17\s+MC18\s+MC19\s*$$ 
  ^\s*${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s+${mc16}\s+${mc17}\s+${mc18}\s+${mc19}\s*$$ 
