Value pg0 (\d+)
Value pg1 (\d+)
Value pg2 (\d+)
Value pg3 (\d+)
Value pg4 (\d+)
Value pg5 (\d+)
Value pg6 (\d+)
Value pg7 (\d+)


Start
  ^\s*PG0\s+PG1\s+PG2\s+PG3\s+PG4\s+PG5\s+PG6\s+PG7\s*$$ 
  ^\s*${pg0}\s+${pg1}\s+${pg2}\s+${pg3}\s+${pg4}\s+${pg5}\s+${pg6}\s+${pg7}\s*$$ 
